<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/">
    <mat-icon svgIcon="child"></mat-icon>
  </a>
  <span fxFlex="1 1 auto"></span>
  <button mat-button (click)="handleDiaperChange()">
    Diaper Change
  </button>
  <ng-container *ngIf="feedingStarted$ | async; else start">
    <button mat-button (click)="stopBreastFeeding()">
      Stop Feeding
    </button>
  </ng-container>
  <ng-template #start>
    <button mat-button (click)="handleFeeding()">
      Start Feeding
    </button>
  </ng-template>
</mat-toolbar>
