<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/">
    <mat-icon svgIcon="child"></mat-icon>
  </a>
  <span fxFlex="1 1 auto"></span>
  <ng-container *ngIf="user$ | async; else login">
    <button mat-button (click)="handleDiaperChange()">
      Diaper Change
    </button>
    <ng-container *ngIf="feedingStarted$ | async as breastFeeding; else start">
      <button mat-button (click)="stopBreastFeeding(breastFeeding)">
        Stop Feeding
      </button>
    </ng-container>
    <ng-template #start>
      <button mat-button (click)="handleFeeding()">
        Start Feeding
      </button>
    </ng-template>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
  <ng-template #login>
    <button mat-button (click)="signinWithGoogle()">Sign In</button>
  </ng-template>
</mat-toolbar>
