:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
