<mat-table [dataSource]="breastFeedings">
  <ng-container matColumnDef="side">
    <mat-header-cell *matHeaderCellDef>Side</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.side | side }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="startTime">
    <mat-header-cell *matHeaderCellDef>Start Time</mat-header-cell>
    <mat-cell *matCellDef="let row">{{
      row.startTime | date: 'short'
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="endTime">
    <mat-header-cell *matHeaderCellDef>End Time</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.endTime | date: 'short' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row" fxLayoutAlign="end">
      <button mat-icon-button (click)="removeBreastFeeding(row.id)">
        <mat-icon svgIcon="delete"></mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="['side', 'startTime', 'endTime', 'delete']"
  ></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: ['side', 'startTime', 'endTime', 'delete']"
  ></mat-row>
</mat-table>
